body {
    width: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ecf1;
    background-image: url(img/fundo2.png)
  }
  
  .text h1{
      display: flex;
      justify-content: center; 
      color:#ffffff;
  }
  
  .form {
    max-width: 400px;
    margin: 50px auto;
    background-color: rgba(52,73,94,0.8);
    border: 3px black solid;
    padding: 20px;
    border-radius: 8px;
  }
  
  .inputs label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 540;
  }
  
  .inputs input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
   
  .input-bx input {
      border: none;
  }
  
  .input-bx input:focus-visible{
      outline: 1px solid #000000;
  }
  
  .input-bx input::placeholder{
      color: black;
  }
  
  .form-bt button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-bt button a{
    text-decoration: none;
    color: #fff;
  }
  
  .form-bt button:hover {
    background-color: #0c0d0e;
  }
  
  .login-link {
    text-align: center;
    margin-top: -20px;
  }
  
  .login-link a {
    color: #ffffff;
    text-decoration: none;
  }
  
