* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../img/fundo2.png");
}

.user-table{
    width: 400px;
    margin: auto;
    border-spacing: 0 0;
    border-collapse: collapse;
    
}
.user-table td, 
.user-table th{
    border: 1px;
    padding: 10px 5px;
    min-width: 120px;
    
}
.user-table th{
    background-color: grey;
    color: white;    
}
#top1{
    border-radius: 15px 0 0 0;
}
#top2{
    border-radius: 0 15px 0 0;
}
.user-table tbody tr:nth-child(even){
    background-color: #e2e2e2;
    
}
.botoes {
    font-weight: bold;
    padding: 3px;
    border-radius: 10px;
    margin: 1px;
    cursor: pointer;
    text-decoration: none;
    font-family: poppins;
    border:solid 2px black;    
    background-color: white;
    color: black;
}
.botoes a {
    color: black;
    background-color: white;
    text-decoration: none;
}
.botoes a:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.container .acesso {
    display: flex;
    width: 1110px;
    /*height: 500px;*/
    background-color: rgba(52,73,94,0.8);
    border: 5px black solid;
    margin: auto;
    border-radius: 20px;
    text-align: center;
    
}
.barra-nav {
    position: fixed;
    background-color: rgba(255, 255, 255,0.7);
    width: 100%;
    height: 55px;  
}
.barra-nav ul {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-right: 20px;
       
}
.barra-nav ul li {
    list-style-type: none;
    margin: 15px;
    
}
.barra-nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    font-family: poppins;
    color: black;
    
}
.container .acesso .content{
    margin: auto;
    
}
.container .acesso .content .titulo-acesso{
    display: flex;
    flex-direction: row;  
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 800;
    font-family: poppins;
    color: white;
    
}
.container .acesso .content .content-acesso{
    margin-top: 20px;
    text-align: justify;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: poppins;
    color: white;
    
}
.container .acesso .content .content-input input{
    text-align: end;
    border: none;
    font-size: 1.2em;
    color: white;
    font-weight: 800;
    font-family: poppins;
    background-color: transparent;
    width: 50%;
    margin: 20px;
    
}
.container .acesso .content .content-input{
    font-size: 1.2em;
    color: white;
    font-weight: 800;
    font-family: poppins;
    
}