* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("img/fundo.svg");
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.acesso {
    width: 45%;
    height: 550px;
    background-color: white;
    border: 5px black solid;
    margin-right: 30px;
    border-radius: 20px;
}
